footer.footer
    .footer__container
        .footer__social
            .footer__logo GamesMatch
            .footer__icons
                a(href='https://www.linkedin.com/in/dror-salomon-542867199/' aria-label='Dror Salomon Linkedin' target="_blank")
                    svg
                        use(xlink:href='/img/linkedin.svg#linkedin')
                a(href='https://www.facebook.com/dror.salomon/' aria-label='Dror Salomon Facebook' target="_blank")
                    svg
                        use(xlink:href='/img/facebook.svg#facebook')
                a(href='mailto:drorsal3@gmail.com' aria-label='Dror Salomon Gmail')    
                    svg
                        use(xlink:href='/img/gmail.svg#gmail')            
            .footer__copyright Copyright &copy; 2022 by GamesMatch. All rights reserved.            
        .footer__content
            .footer__headline Contact us
            .footer__text 33 Moriya St. Haifa, Israel
            .footer__text 111-222-3333
            .footer__text info@gamesmatch.com
        .footer__content
            .footer__headline Account
            a(href='#') 
                .footer__text Create account
            a(href='#') 
                .footer__text Log in
            a(href='#') 
                .footer__text iOS app 
            a(href='#') 
                .footer__text Android app 
        .footer__content
            .footer__headline Company
            a(href='#') 
                .footer__text About GamesMatch
            a(href='#') 
                .footer__text Gaming partners
            a(href='#') 
                .footer__text Careers 
        .footer__content
            .footer__headline Resources
            a(href='#') 
                .footer__text Video games API
            a(href='#') 
                .footer__text Help center
            a(href='#') 
                .footer__text Privacy & terms    