header.header
  nav.nav.nav--left
     a.nav__el.nav__el--cta(href='/survey') Take Survey
     a.nav__el(href='/search') Game Search
  .header__logo 
    a.home(href='/')
      img(src='/img/joystick.png' alt='GamesDB logo')
  nav.nav.nav--right
    if user
      a.nav__el.nav__el--logout Log out
      a.nav__el(href='/account')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span= `${user.role === 'user' ? user.name.split(' ')[0] : 'Admin'}`
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='/signup') Sign up