a.account__nav-link(href='/account') 
    svg
        use(xlink:href='/img/gear.svg#gear')
    .account__nav-item Settings
a.account__nav-link(href='/change-password')   
    svg
        use(xlink:href='/img/lock.svg#lock') 
    .account__nav-item Change Password
a.account__nav-link.account__nav-link-rec 
    svg
        use(xlink:href='/img/joystick1.svg#joystick1')    
    .account__nav-item Recommended Games
a.account__nav-link(href='/delete-account') 
    svg
        use(xlink:href='/img/trash.svg#trash')    
    .account__nav-item Delete Account