extends base

block content
    main.main
        .form__container
            svg
                use(xlink:href='/img/forgotPassword.svg#forgotPassword')                 
            .form__headline Insert email to get password reset token
            form.form.form--forgot__password
                .form__group    
                    label.form-label(for='email') Email
                    input#email.form-input(type='email' placeholder='you@email.com' name='email', required)
                .form__group    
                    button.form__btn Send 