extends base

block content
    main.main
        .form__container
            svg
                use(xlink:href='/img/forgotPassword.svg#forgotPassword')                 
            .form__headline Reset your password
            form.form.form--reset__password
                .form__group    
                    label.form-label(for='password') New Password
                    input#password.form-input(type='password' placeholder='••••••••' name='password', required, minlength='8')
                .form__group    
                    label.form-label(for='passwordConfirm') Confirm Password
                    input#passwordConfirm.form-input(type='password' placeholder='••••••••' name='passwordConfirm', required, minlength='8')
                .form__group    
                    input#token(type='text' value=`${token}` name='token')
                    button.form__btn Reset Password 