extends account

block account
    .account__form         
        .form__headline Update your password
        form.form.form--update__password
            .form__group    
                label.form-label.account__settings(for='current-password') current password
                input#currentPassword.form-input(type='password' placeholder='••••••••' name='currentPassword', required, minlength='8')
            .form__group    
                label.form-label.account__settings(for='password') New password
                input#newPassword.form-input(type='password' placeholder='••••••••' name='password', required, minlength='8')
            .form__group    
                label.form-label.account__settings(for='password-confirm') Confirm password
                input#confirmPassword.form-input(type='password' placeholder='••••••••' name='passwordConfirm', required, minlength='8')
            .form__group    
                button.form__btn.update__password__btn Update Password           