// ***** Colors *****
$bg-color-primary: #444;
$bg-color-secondary: #f9f9f9;
$bg-color-tertiary: #8e8e8e;
$text-color-primary: #525252;
$text-color-secondary: #fab005;
$text-color-secondary-light: #fac64c;
$text-color-tertiary: #fff;
$numbers-color: #cdcdcd;
$selected-color: #e9e8e8;
$divider-color: #222121;

// Metacritic scores
$metacritic-low: #d9534f;
$metacritic-med: #fab005;
$metacritic-high: #66cc33;

// Platforms
$playstation: #003087;
$xbox: #107c11;
$nintendo: #e70009;
$android-ios: #11001c;
$pc-mac: #fab005;

// form
$form-valid: #66cc33;
$form-invalid: #d9534f;

// ***** Font Size *****
$big-font: 7rem;
$card-title: 4rem;
$h1: 3rem;
$h2: 2.2rem;
$h3: 1.7rem;
$h4: 1.3rem;
$h5: 1.1rem;
$h6: 0.9rem;
$h7: 0.5rem;
