.game__container {
  padding: 15rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}

.headline__card,
.details__card__right,
.details__card__left,
.description__card,
.images__card {
  background-color: #444;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3rem;
}

.headline__card {
  margin-top: -25rem;
  margin-bottom: 5rem;
}

.detail__card__container {
  display: flex;
  justify-content: space-between;
}

.details__card__right,
.details__card__left {
  text-align: center;
  display: block;
  height: 20rem;
  width: 57rem;
}

.description__card {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5rem;
}

.images__card {
  display: -ms-grid;
  display: grid;
  justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.images__card img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}

.headline__card-img-container {
  margin-right: 3rem;
}

.headline__card-img {
  width: 33rem;
  height: 33rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}

.headline__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline__card-item {
  color: #fff;
}

.headline__card-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.headline__card__date__web-container {
  display: flex;
}

.headline__card-item.headline__card-divider {
  margin-left: 1rem;
  height: 2.8rem;
  background-color: #fff;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  flex: 0 0 0.2rem;
}

.headline__card-website {
  margin-left: 1rem;
}
.headline__card-website a {
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.3s;
  text-decoration: none;
}
.headline__card-website a:hover {
  color: #fab005;
}

.headline__card__metacritic-container {
  display: flex;
  align-items: center;
}

.headline__card-meta {
  font-size: 1.7rem;
}

.headline__card__score-cover {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0rem 0rem 2rem 1rem;
}

.meta-score-low {
  background-color: #d9534f;
}

.meta-score-med {
  background-color: #fab005;
}

.meta-score-high {
  background-color: #66cc33;
}

.headline__card-score {
  font-size: 1.3rem;
  padding: 0.8rem;
  border-radius: 1rem;
}

.headline__card-release,
.headline__card-meta,
.headline__card-platforms,
.headline__card-genre {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.headline__card__platforms-container {
  display: flex;
}

.headline__card__platform-cover {
  padding: 0.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  background-color: #fab005;
}

.headline__card-item.headline__card-platform {
  font-size: 1.1rem;
}

.platform-pc {
  background-color: #fab005;
}

.platform-playstation {
  background-color: #003087;
}

.platform-xbox {
  background-color: #107c11;
}

.platform-nintendo {
  background-color: #e70009;
}

.platform-android {
  background-color: #11001c;
}

.headline__card__genres-container {
  display: flex;
  width: 80rem;
}

.headline__card-item.headline__card-genre {
  margin-left: 1rem;
}

.headline__card-item.headline__card-genre:first-child {
  margin: 0;
}

.details__card__left__developers__headline,
.details__card__left__publishers__headline,
.details__card__right__esrb__headline,
.details__card__right__time__headline {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.details__card__left__developers__developer,
.details__card__left__publishers__publisher,
.details__card__right__esrb__rating,
.details__card__right__time__number {
  font-size: 1.7rem;
  color: #fff;
}

.details__card__left__developers__developer,
.details__card__right__esrb__rating {
  margin-bottom: 2rem;
}

.description__card__headline,
.images__card__headline {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.description__card__text {
  margin-top: 2rem;
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

.images__card__headline {
  margin-bottom: 2rem;
}

.images__card__img__container {
  display: flex;
}

.images__card__small__img__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17rem 1.5rem 17rem 1.5rem 17rem;
  grid-template-columns: 17rem 17rem 17rem;
  gap: 1.5rem;
  margin-left: 5rem;
}

.images__card__img-big {
  width: 45rem;
  height: 36rem;
}

.images__card__img-small {
  width: 17rem;
  height: 17rem;
}/*# sourceMappingURL=game.css.map */