.search__container {
  padding-top: 10rem;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 1rem;
}

.search__headline {
  padding: 4rem 0 2rem 0;
  font-size: 3rem;
  color: #fab005;
  text-transform: uppercase;
}

.game__search-form {
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}

.game__search-input {
  width: 76rem;
  padding: 0.7rem;
  font-size: 1.7rem;
  background-color: #f9f9f9;
  border: 1px solid #525252;
}

.game__search-btn {
  width: 6rem;
  padding: 0.6rem;
  font-size: 1.1rem;
  background-color: #525252;
  border-left: none;
  cursor: pointer;
  transition: all 0.3s;
}
.game__search-btn svg {
  width: 2.6rem;
  height: 2.6rem;
  fill: #fab005;
}

.search__button:hover {
  filter: brightness(115%);
}

.results__container {
  max-width: 104rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  background-color: #f9f9f9;
}

.game__card {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 1rem;
  color: #fff;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}

.game__card-img {
  padding: 1rem;
  width: 25rem;
  height: 30.5rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5rem;
}

.game__card__content__container {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65rem 12rem;
  grid-template-columns: 65rem 12rem;
}

.game__card-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.game__card-summary {
  font-size: 1.3rem;
  height: 22rem;
}

.game__card__right {
  display: -ms-grid;
  display: grid;
  justify-content: space-between;
  padding-left: 2rem;
}

.metacritic__container,
.developer__container,
.publisher__container {
  font-size: 1.1rem;
  width: 10rem;
  padding: 1rem;
  background-color: #fab005;
  text-align: center;
  border-radius: 1rem;
}

.developer__container,
.publisher__container {
  background-color: #444;
  color: #fab005;
  border: 1px solid #fab005;
  border-radius: 1rem;
}

.metacritic__container {
  font-weight: 700;
  height: 5.5rem;
}

.developer__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.publisher__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}

.game__card__bottom {
  display: flex;
  justify-content: left;
  height: 2.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.platform__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.3rem;
  margin: 0.5rem 0 0.8rem 0.8rem;
  background-color: #fab005;
  text-align: center;
  border-radius: 0.3rem;
}

.platform__container:first-child {
  margin-left: 0;
}

.game__card__bottom-right {
  padding-left: 2rem;
}

.game__card-details {
  text-align: center;
}
.game__card-details a {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1.4rem;
  color: #fff;
  background-color: #fab005;
  border: 1px solid #fab005;
  border-radius: 1rem;
  transition: all 0.3s;
  text-decoration: none;
}
.game__card-details a:hover {
  filter: brightness(90%);
}

.no__results {
  color: #fab005;
  font-size: 3rem;
  text-align: center;
}

.search__btn__txt__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search__txt__container,
.rec__txt__container {
  font-size: 1.7rem;
  font-weight: 300;
  color: #fab005;
}

.search__options__container,
.rec__options__container {
  display: block;
}

.search__options__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 5rem;
  background-color: #f9f9f9;
  color: #fab005;
  border: 2px solid #fab005;
  border-radius: 10rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.search__options__icon {
  width: 3rem;
  height: 3rem;
  color: #fab005;
}

.dropdown__content__options,
.dropdown__content {
  width: 30rem;
  display: none;
  flex-direction: column;
}
.dropdown__content__options button,
.dropdown__content button {
  margin-bottom: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  font-size: 1.7rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #fab005;
  background-color: #f9f9f9;
  border: none;
  transition: all 0.2s;
  border-radius: 1rem;
}
.dropdown__content__options button:hover,
.dropdown__content button:hover {
  background-color: #e9e8e8;
}

.dd__btn:focus {
  border: 2px solid #fab005;
  background-color: #e9e8e8;
}

.button__content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__sort__icon,
.search__limit__icon,
.search__filter__icon {
  width: 2.5rem;
  height: 2.5rem;
}

.pagination__Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pagination__Container button {
  margin-right: 1rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  border: none;
  border-radius: 10rem;
  color: #fab005;
  background-color: #f9f9f9;
  transition: all 0.2s;
}
.pagination__Container button:hover {
  background-color: #f9f9f9;
  filter: brightness(90%);
}

.pages__container,
.pagination__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__icon {
  width: 3rem;
  height: 3rem;
  color: #fab005;
}

.pagination__separator {
  color: #fab005;
  font-size: 1.7rem;
  margin-right: 1rem;
}

.not-allowed {
  cursor: not-allowed !important;
}

.not-allowed:hover {
  background-color: transparent !important;
  filter: brightness(100%) !important;
}

.search__options__btn-rec {
  margin-bottom: 2rem;
  width: 14rem;
  height: 4rem;
  background-color: #444;
}

.dropdown__content__options-rec,
.dropdown__content-rec {
  margin-bottom: 2rem;
}
.dropdown__content__options-rec button,
.dropdown__content-rec button {
  background-color: #444;
  font-size: 1.3rem;
}

.no__results-rec__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no__results-rec__container a {
  padding: 1rem;
  text-decoration: none;
  font-size: 2.2rem;
  color: #fab005;
  border: 1px solid #fab005;
  border-radius: 10rem;
  transition: all 0.3s;
}
.no__results-rec__container a:hover {
  filter: brightness(110%);
}

.no__results-rec {
  text-align: center;
  margin-bottom: 2rem;
  width: 50rem;
  font-size: 1.7rem;
}

.pagination__container-rec {
  margin-bottom: 2rem;
}
.pagination__container-rec button {
  background-color: #444;
}/*# sourceMappingURL=search.css.map */